<form method="post">

</form>

<table id="usersTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th class="th-sm">
                Id
            </th>
            <th class="th-sm">
                Email
            </th>
            <th class="th-sm">
                Roles
            </th>
            <th class="th-sm">
                Name
            </th>
            <th class="th-sm">
                Date created
            </th>
            <th class="th-sm">
                Date deleted
            </th>
            <th class="th-sm">
                Actions
            </th>
        </tr>
    </thead>
</table>

@section Scripts{ 
    <script>
        var antiForgeryToken = $('input[name=__RequestVerificationToken]').val();
        $(document).ready(function () {
            $('#usersTable').DataTable({
                processing: true,
                serverSide: true,
                filter: true,
                ajax: {
                    url: '/api/users',
                    type: 'POST',
                    dataType: "json",
                    headers:
                    {
                        'X-CSRF-TOKEN': antiForgeryToken
                    }
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [6],
                    "searchable": false,
                    "orderable": false
                }],
                "columns": [
                    { "data": "id", "name": "Id", "autoWidth": true },
                    { "data": "email", "name": "Email", "autoWidth": true },
                    { "data": "roles", "name": "Roles", "autoWidth": true },
                    { "data": "name", "name": "Name", "autoWidth": true },
                    { "data": "createdOn", "name": "CreatedOn", "autoWidth": true },
                    { "data": "deletedOn", "name": "DeletedOn", "autoWidth": true },
                    {
                        data: "id",
                        "render": function (data) { return "<a href='/Manage/EditUser/" + data + "' class='btn btn-info'>Edit</a>"; }
                    },
                ]
            });
        });
    </script>
}