@model ContactViewModel

<link href="~/css/contact/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/css/contact/fontAwesome.css" rel="stylesheet" />
<link href="~/css/contact/hero-slider.css" rel="stylesheet" />
<link href="~/css/contact/owl-carousel.css" rel="stylesheet" />
<link href="~/css/contact/templatemo-style.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<cache expires-after="TimeSpan.FromDays(30)">

    <body>
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Contact Us</h1>
                        <p>It doesn't matter if you want to eat, drink or just want to pass some time, we are the place for everything! Give us some feedback on how to improve your stay at the TechToranT!</p>
                    </div>
                </div>
            </div>
        </section>





        <section class="contact-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="section-heading">
                            <h2>Message</h2>
                        </div>
                        <form id="contact" asp-controller="Contact" asp-action="Submit" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <input asp-for="Name" name="name" type="text" class="form-control" id="name" placeholder="Your name..." required>
                                    </fieldset>
                                    <fieldset>
                                        <input asp-for="Email" name="email" type="text" class="form-control" id="email" placeholder="Your email..." required>
                                    </fieldset>
                                    <fieldset>
                                        <input asp-for="Phone" name="phone" type="text" class="form-control" id="phone" placeholder="Your phone..." required>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <textarea asp-for="Message" name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required></textarea>
                                    </fieldset>
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="btn">Send Message</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="section-heading contact-info">
                            <h2>Contact Info</h2>
                            <p>We are the TechToranT, the first ever digitalised restaurant. If you have any complaints or recommendations about anything in the menu, staff or even the restaurant itself, just tell us in the form. Your feedback will be much appreciated!<br><br><em>bul, Mariya Luiza 45 <br>Sofia, Bulgaria</em></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="map">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d435.860807249935!2d23.322615743890523!3d42.701384717110344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa856615cc5421%3A0xd7685b3dba83c86a!2z0JXRgtC90L7RgtC10LrQsCDQpdGK0YjQvtCy0LU!5e0!3m2!1sbg!2sbg!4v1618305564309!5m2!1sbg!2sbg" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
        </section>
    </body>
    </cache>
    @section Scripts{
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="~/js/plugins.js"></script>
        <script src="~/js/main.js"></script>
    }
