@model AddPromoCodeViewModel

<link href="~/css/addItemForm.css" rel="stylesheet" />

<form asp-controller="Manage" asp-action="AddPromoCode" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group col-md-6">
        <label asp-for="MaxUsageTimes"></label>
        <input asp-for="MaxUsageTimes" class="form-control" />
        <span asp-validation-for="MaxUsageTimes" class="text-danger"></span>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="ExpirationDate"></label>
        <input asp-for="ExpirationDate" class="form-control" value="@DateTime.Now.AddDays(1).ToString("s")" />
        <span asp-validation-for="ExpirationDate" class="text-danger"></span>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="PromoPercent"></label>
        <input asp-for="PromoPercent" class="form-control"/>
        <span asp-validation-for="PromoPercent" class="text-danger"></span>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="ValidDishCategoriesId"></label>
        <select asp-for="ValidDishCategoriesId" class="form-control selectpicker" multiple asp-items="@Model.ValidDishCategories">
            <option disabled selected hidden>--- SELECT ---</option>
        </select>
        <span asp-validation-for="ValidDishCategoriesId" class="text-danger"></span>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="ValidDrinkCategoriesId"></label>
        <select asp-for="ValidDrinkCategoriesId" class="form-control selectpicker" multiple asp-items="@Model.ValidDrinkCategories">
            <option disabled selected hidden>--- SELECT ---</option>
        </select>
        <span asp-validation-for="ValidDrinkCategoriesId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success col-md-2">Add</button>
</form>
