@model AddTableViewModel


<form asp-controller="Manage" asp-action="EditTable" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group col-md-6">
        <label asp-for="Number"></label>
        <input asp-for="Number" class="form-control" />
        <span asp-validation-for="Number" class="text-danger"></span>
        <button class="getNumber">Get next number</button>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="Capacity"></label>
        <input asp-for="Capacity" class="form-control" />
        <span asp-validation-for="Capacity" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success col-md-2">Edit</button>
    <input name="id" value="@Model.Id" hidden />
    <button asp-controller="Manage" asp-action="RemoveTable" type="submit" class="btn btn-danger">Remove</button>
</form>

@section Scripts{
    <script src="~/js/addTable.js"></script>
}