<div id="manage">
    <form method="post">
        <select name="Type" class="form-select col-md-5" size="4" aria-label="size 3 select example">
            <option value="Dish">Dish</option>
            <option value="Drink">Drink</option>
            <option value="Ingredient">Ingredient</option>
            <option value="Allergen">Allergen</option>
        </select>
        <br />
        <br />
        <input class="btn btn-success" type="submit" asp-controller="Manage" asp-action="Add" value="Add product" />
        <input class="btn btn-danger" type="submit" asp-controller="Manage" asp-action="Remove" value="Remove product" />

    </form>
    <br />
    <div id="analyse">

    </div>
    <a type="button" class="btn btn-primary" asp-area="" asp-controller="Manage" asp-action="Analyse">Analyse sales</a>
    <a type="button" class="btn btn-secondary" asp-area="" asp-controller="Manage" asp-action="Staff">Staff</a>
    <a type="button" class="btn btn-info" asp-area="" asp-controller="Manage" asp-action="Orders">Orders</a>
</div>

<style>
    #manage {
        text-align-last: center;
    }

    select{
        overflow:hidden;
    }
</style>