<link href="~/css/manageIndex.css" rel="stylesheet" />

<style>
    #select {
        border: 3px solid #fff;
        padding: 20px;
    }

    .option {
        width: 31%;
        float: left;
        border: 4px solid double brown;
        margin-bottom: 20px;
        padding: 50px;
        margin-left: 2%;
        background-size: contain;
        background-size: cover;
        background-size: 100%;
        border-radius: 10px;
        border: 5px double rgba(121, 51, 51, 0.8);
        cursor: pointer;
    }

    .selected {
        box-shadow: inset 0 0 0 2000px rgba(0, 255, 33, 0.3);
    }

    .option label {
        float: right;
        position: relative;
        left: 40px;
        top: 55px;
        background-color: rgba(128, 128, 128, 0.8);
        border-radius: 5px;
        font-size: 20px;
        cursor: pointer;
        color: navajowhite;
    }


    #add .btn{
        position: relative;
        left: 350px;
        bottom: 10px;
    }
</style>

<div id="manage">
    <form id="add" method="post" asp-controller="Manage" asp-action="Add">

        <div id="select">
            <div class="option" style="background-image: url(/img/Manage/Dishes.jpg)">
                <input type="radio" id="dish" name="type" value="Dish" hidden checked>
                <label for="dish">Dish</label>
            </div>
            <div class="option" style="background-image: url(/img/Manage/Drinks.jpeg)">
                <input type="radio" id="drink" name="type" value="Drink" hidden>
                <label for="drink">Drink</label>
            </div>
            <div class="option" style="background-image: url(/img/Manage/Ingredients.jpg)">
                <input type="radio" id="ingredient" name="type" value="Ingredient" hidden>
                <label for="ingredient">Ingredient</label>
            </div>
            <div class="option" style="background-image: url(/img/Manage/Allergens.jpg)">
                <input type="radio" id="allergen" name="type" value="Allergen" hidden>
                <label for="allergen">Allergen</label>
            </div>
            <div class="option" style="background-image: url(/img/Manage/DishTypes.jpg)">
                <input type="radio" id="dishCategory" name="type" value="DishCategory" hidden>
                <label for="dishCategory">Dish Category</label>
            </div>
            <div class="option" style="background-image: url(/img/Manage/DrinkTypes.jpg)">
                <input type="radio" id="drinkCategory" name="type" value="DrinkCategory" hidden>
                <label for="drinkCategory">Drink Category</label>
            </div>

        </div>
        <input class="btn btn-success btn-lg" type="submit" value="Add" />

    </form>
    <form method="get">
        <input class="btn btn-primary" type="submit" asp-controller="Manage" asp-action="Users" value="Users" />
        <input class="btn btn-danger" type="submit" asp-controller="Manage" asp-action="Orders" value="Orders" />
        <input class="btn btn-dark" type="submit" asp-controller="Manage" asp-action="PromoCodes" value="Promo codes" />
    </form>
    <br />
    <div id="analyse">

    </div>
    <a type="button" class="btn btn-primary" asp-area="" asp-controller="Analyse" asp-action="Sales">Analyse income</a>
    <a type="button" class="btn btn-secondary" asp-area="" asp-controller="Analyse" asp-action="Staff">Analyse waiters</a>
</div>

@section Scripts{
    <script>
        $('#select').on('click', `.option`, function (e) {
            $('.option').removeClass('selected');
            $(this).addClass('selected');
            let asd = $(this).children('input');
            $(this).children('input')[0].checked = true;
        });

    </script>
}