<form method="post">
</form>



<table id="ordersTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th class="th-sm">
                Id
            </th>
            <th class="th-sm">
                Client Email
            </th>
            <th class="th-sm">
                Client Name
            </th>
            <th class="th-sm">
                Date
            </th>
            <th class="th-sm">
                Total Price
            </th>
            <th class="th-sm">
                Status
            </th>
            <th class="th-sm" width="20px">
                Actions
            </th>
        </tr>
    </thead>
</table>

@section Scripts{   
    <script src="~/js/manageOrders.js"></script>
}