<style>
    .action{
        margin-left: 5px;
    }
</style>

<form method="post">
</form>

<table id="ordersTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th class="th-sm">
                Id
            </th>
            <th class="th-sm">
                Code
            </th>
            <th class="th-sm">
                Used times
            </th>
            <th class="th-sm">
                Max usage times
            </th>
            <th class="th-sm">
                Promo%
            </th>
            <th class="th-sm">
                Deleted
            </th>
            <th class="th-sm">
                Expiration Date
            </th>
            <th class="th-sm" width="120px">
                Actions
            </th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/managePromoCodes.js"></script>
}