<form method="post">

</form>

<table id="usersTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th class="th-sm">
                Id
            </th>
            <th class="th-sm">
                Email
            </th>
            <th class="th-sm" width="50px">
                Roles
            </th>
            <th class="th-sm">
                Name
            </th>
            <th class="th-sm">
                Date created
            </th>
            <th class="th-sm">
                Date deleted
            </th>
            <th class="th-sm">
                Actions
            </th>
        </tr>
    </thead>
</table>

@section Scripts{ 
    <script src="~/js/manageUsers.js"></script>
}