@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "The email was confirmed!";
}

<h1>@ViewData["Title"]</h1>
<h2>You can login by clicking here - <a asp-area="Identity" asp-controller="Account" asp-action="Login">Login Page</a></h2>