button {
    margin-left: 2%;
}

.getNumber{
    margin-left: 300px;
    margin-top: 10px;
}

input#Image{
    background-color: transparent;
    border-color: transparent;
}

.dropdown.bootstrap-select.form-control {
    background-color: transparent;
}