img {
    width: 70px;
}

.borderless-cell {
    border: 1px solid transparent !important;
}

.promoCode{
    display: inline-block;
}

.tableCode{
    width: 75px;
}

td{
    vertical-align: middle;
}
