.bg {
    height: 700px;
    background-size: 1100px;
    background-repeat: no-repeat;
    border: 5px solid turquoise;
    border-radius: 3%;
}

.right {
    margin-top: 48%;
    float: right;
    margin-right: 1%;
}

.gray-bg {
    background-color: gainsboro;
    border: 1px solid black;
    line-height: 35px;
}

.left {
    margin-top: 45%;
    display: inline-block;
    margin-left: 3%;
}

.foodName {
    background-color: turquoise;
    text-align: -webkit-center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
