.bg {
    height: 700px;
    background-size: 1100px;
    background-repeat: no-repeat;
    border: 5px solid rgb(211, 171, 171);
    border-radius: 3%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.right {
    margin-top: 48%;
    float: right;
    margin-right: 1%;
}

.gray-bg {
    background-color: gainsboro;
    border: 1px solid black;
    line-height: 35px;
}

.left {
    margin-top: 45%;
    display: inline-block;
    margin-left: 3%;
}

.foodName {
    background-color: rgb(211, 171, 171);
    text-align: -webkit-center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.weigth{
    position: relative;
    right: 25px;
    top: 25px;
    border-radius: 0px 0px 0px 15px;
    padding: 10px 10px 10px 10px;
    font-size: 25px;
}


.add {
    padding: 20px;
    position: relative;
    left: 22px;
    bottom: 10px;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid black;
}

.price{
    position: relative;
    padding: 15px;
    font-size: 20px;
    left: 11px;
    bottom: 9px;
    border-radius: 0px 0px 17px 0px;
}

#count {
    height:65px;
    min-width: 70px;
    text-align: center;
    position: relative;
    left: 27px;
    bottom: 7px;
    border: 1px solid black;
}

.comment {
    background-color: rgba(211, 171, 171, 0.5);
    border-radius: 10px;
    border: 1px solid brown;
    display: inline-block;
    margin: 30px;
    position: center;
    line-height: 1.1;
    height: 4.4em;
    position: relative;
}

.comment-content{
    position: absolute;
    margin-top: 3px;
    font-size: 17px;
}

.comment-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-style: italic;
}

.comment-likes{
    position:absolute;
    top: -40px;
    right: 10px;
}

.like, .dislike {
    cursor: pointer;
    user-select: none;
}

.like-count, .dislike-count{
    padding: 5px;
    font-size: 25px;
    position: relative;
    top: -5px;
}

.pagination .page-link{
    cursor: pointer;
}