#menu {
    list-style-type: none;
}

li {
    cursor: pointer;
    border-radius: 100px;
}

    li .bg {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: .6;
        width: 100%;
        height: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: inset 0px 0px 5px 5px black;
    }

#menu li {
    margin-right: 40px;
    margin-bottom: 20px;
}
