#menu {
    list-style-type: none;
}

li {
    cursor: pointer;
    border-radius: 100px;
}

    li .bg {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: .8;
        width: 100%;
        height: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: inset 0px 0px 5px 5px black;
    }

#menu li {
    margin-right: 40px;
    margin-bottom: 20px;
}

ul li span.description {
    font-weight: 700;
    display: inline-block;
    background: rgba(230, 111, 10, 0.8);
    box-shadow: 10px 0 0 rgba(230, 111, 10, 0.8), -10px 0 0 rgba(230, 111, 10, 0.8);
    color: white;
    border-radius: 6px 6px 6px 6px;
    padding: 5px;
    position: absolute;
    bottom: 4px;
    max-width: 94%;
    left: 14px;
}

.title {
    background: rgba(243, 220, 220, 0.8);
    padding-top: 0px;
    display: inline;
    position: relative;
    float:left;
    left: -10px;
    top: 6px;
    font-size: 35px;
    border-radius: 3px 0px 0px 0px;
    
}


.search{
    margin-bottom: 10px;
    margin-left: 25px;
}